body {
  margin: 0;
}

#survey {
  .ant-steps-item-icon {
    margin: 0;
  }

  .ant-steps-item-title::after {
    inset-inline-start: 8px;
  }

  .ant-steps-item:not(:first-child) {
    padding-inline-start: 8px;
  }
}
